<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.kiwilss.lxkj.zhihu">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:resizeableActivity="true"
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TwoActivity"/>

        <activity android:name=".liuhai.FullScreenActivity"/>
        <activity android:name=".liuhai.LiuHaiActivity"/>

        <activity android:name=".ui.ShapeActivity"/>
        <activity android:name=".ui.shape.RTextViewActivity"/>
        <activity android:name=".ui.shape.RipperActivity"/>
        <activity android:name=".ui.shape.CheckActivity"/>

        <activity android:name=".ui.shape.EditActivity"/>
        <activity android:name=".ui.super.SuperActivity"/>


        <activity android:name=".webview.WebViewActivity"/>


        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

    </application>

</manifest>